.campo-busca{
    width: 100%;
    background-color: #fff;
    border-radius: 12px;
    height: 50px;
    padding: 8px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.campo-busca > input {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 15px;
}

.campo-busca > svg {
    color: black;
    width: 18px;
    height: 18px;
    justify-self: end;
    position: absolute;
    right: 50px;
}